<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings >
    <add name = "AgilityDbContext" connectionString = "Data Source=.;Initial Catalog=NFineBase;User ID=sa;password=abc.123 " providerName = "System.Data.SqlClient " />
  </connectionStrings >
  <appSettings>
    <add key="UserAccount" value="jiexiang123"></add>
    <add key="PassWord" value="jiexiang505"></add>
    <add key="LoginUrl" value="https://app.singlewindow.cn/cas/login"></add>
    <add key="WorkTable" value="https://swapp.singlewindow.cn/deskserver/sw/deskIndex?menu_id=dec001"></add>
    <add key="Test" value="http://localhost:1851/"></add>
    <add key="In" value="cusCiqZhImport?cusIEFlag=I&amp;dclTrnRelFlag=0&amp;ngBasePath"></add>
    <add key="Out" value="cusCiqZhImport?cusIEFlag=E&amp;dclTrnRelFlag=0&amp;ngBasePath"></add>
  </appSettings>
</configuration>